In [10]:
%matplotlib inline

# Day 0022 - Working with Date and Time
# - 1000 days of Python

# Setup working directory

In [1]:
pwd

'D:\\desktop\\Python\\1000 days of python'

In [2]:
pwd

'D:\\desktop\\Python\\1000 days of python'

# Import Libraries

In [120]:
import datetime

# 1. Datetime

In [170]:
#Get current date
from datetime import datetime
 
current_datetime = datetime.now()
print(current_datetime)

2022-01-19 21:32:48.245920

In [121]:
#create datetime today object
tday = datetime.date.today()
print(tday)

2022-01-19

In [122]:
#get the year
print(tday.year)

2022

In [123]:
#get the day
tday.day

19

In [124]:
#day of the week Mon 0 - Sun 6
tday.weekday()

2

In [125]:
#day of the week Mon 1 - Sun 7
tday.isoweekday()

3

## Datetime object string format

In [126]:
#Print datetime out in isoformat
dt_AWST = datetime.datetime.now(tz=pytz.timezone('Australia/Perth'))
print(dt_AWST.isoformat())

2022-01-19T21:11:48.790109+08:00

In [127]:
#Convert datetime object to string with a particular format
print(dt_AWST.strftime('%B %d, %Y'))

January 19, 2022

#more format code here
https://pythonexamples.org/python-datetime-format/

In [128]:
from datetime import datetime
dt = datetime.now()
print(dt)
print('\nDirectives\n--------------')
print(dt.strftime('Weekday short version : %a'))
print(dt.strftime('Weekday full version  : %A'))
print(dt.strftime('Weekday as a number   : %w'))
print(dt.strftime('Day of month          : %d'))
print(dt.strftime('Month Name short ver  : %d'))
print(dt.strftime('Month Name full ver   : %b'))
print(dt.strftime('Month as a number     : %m'))
print(dt.strftime('Year short version    : %y'))
print(dt.strftime('Year full version     : %Y'))
print(dt.strftime('Hour (00-23)          : %H'))
print(dt.strftime('Hour (00-11)          : %I'))
print(dt.strftime('AM/PM                 : %p'))
print(dt.strftime('Minute                : %M'))
print(dt.strftime('Second                : %S'))
print('\nFormatted Date Strings\n--------------')
print(dt.strftime('%a %d-%m-%Y'))
print(dt.strftime('%a %d/%m/%Y'))
print(dt.strftime('%a %d/%m/%y'))
print(dt.strftime('%A %d-%m-%Y, %H:%M:%S'))
print(dt.strftime('%X %x'))

2022-01-19 21:11:49.771708

Directives
--------------
Weekday short version : Wed
Weekday full version  : Wednesday
Weekday as a number   : 3
Day of month          : 19
Month Name short ver  : 19
Month Name full ver   : Jan
Month as a number     : 01
Year short version    : 22
Year full version     : 2022
Hour (00-23)          : 21
Hour (00-11)          : 09
AM/PM                 : PM
Minute                : 11
Second                : 49

Formatted Date Strings
--------------
Wed 19-01-2022
Wed 19/01/2022
Wed 19/01/22
Wednesday 19-01-2022, 21:11:49
21:11:49 01/19/22

In [129]:
#Convert a string to a datetime object
dt_str = 'January 19, 2022'
dt = datetime.strptime(dt_str,'%B %d, %Y')
print(dt)

2022-01-19 00:00:00

# 2. Time Delta

## 2.1 Syntax

datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)

## 2.2 Timedelta examples

### Python timedelta attributes

In [194]:
print(timedelta.max)
print(timedelta.min)
print(timedelta.resolution)

999999999 days, 23:59:59.999999
-999999999 days, 0:00:00
0:00:00.000001

### Python timedelta total seconds

In [195]:
print('Seconds in an year:', timedelta(days=365).total_seconds())

Seconds in an year: 31536000.0

### Python timedelta operations

In [196]:
ct = current_datetime + timedelta(seconds=60) - timedelta(seconds=60)
print(current_datetime == ct)

ct = current_datetime + timedelta(seconds=10) * 6
print('Current Time:', current_datetime)
print('One Min from Current Time:', ct)

print('Timedelta absolute value:', abs(timedelta(days=-10)))
print('Timedelta String Representation:', str(timedelta(days=1, seconds=30, hours=10, milliseconds=300)))
print('Timedelta Object Representation:', repr(timedelta(days=1, seconds=30, hours=10, milliseconds=300)))

True
Current Time: 2022-01-19 21:37:26.604931
One Min from Current Time: 2022-01-19 21:38:26.604931
Timedelta absolute value: 10 days, 0:00:00
Timedelta String Representation: 1 day, 10:00:30.300000
Timedelta Object Representation: datetime.timedelta(days=1, seconds=36030, microseconds=300000)

### Example 01

In [151]:
#import timedelta, datetime and date to avoid confusing
from datetime import timedelta, datetime, date

In [147]:
# timedelta by days
tdelta = timedelta(days = 7)
#print out 7 days from now
print(tday + tdelta)

2022-01-26

In [148]:
#What date is 7 days ago?
print(tday - tdelta)

2022-01-12

In [150]:
#how many days more will be my bday (fake one)
bday = date(2022, 10, 21)
till_bday = bday - tday
print(till_bday)
print(till_bday.days)
print(till_bday.total_seconds())

275 days, 0:00:00
275
23760000.0

### Example 02

In [152]:
from datetime import datetime, timedelta

current_date = datetime.now()

date_after_one_year = current_date + timedelta(days=365)

print('Current Date:', current_date)
print('After One Year Date from Now:', date_after_one_year)

date_before_five_days = current_date - timedelta(days=5)
print('Date before Five Days from Now:', date_before_five_days)

Current Date: 2022-01-19 21:18:12.951104
After One Year Date from Now: 2023-01-19 21:18:12.951104
Date before Five Days from Now: 2022-01-14 21:18:12.951104

### Example 03

In [166]:
from datetime import datetime, timedelta
current_date = datetime.now()
print('Current Date:', current_date)
next_date = current_date + \
                 timedelta(days = 4)
print ("Next Day:", next_date)
print('The Time Difference in Two Days:', next_date - \
      current_date )

Current Date: 2022-01-19 21:23:34.027095
Next Day: 2022-01-23 21:23:34.027095
The Time Difference in Two Days: 4 days, 0:00:00

### Example 04

In [168]:
from datetime import timedelta
 
timedelta_object = timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)
print(timedelta_object)
 
# Same as above (Everything set to 0)
zero_obj = timedelta()
print(zero_obj)

0:00:00
0:00:00

### Example 05

In [169]:
a = timedelta(hours=4, seconds=100)
print(a)
b = timedelta(hours=2, seconds=50)
print(b)
print("Output:")
print(a + b, a - b, a / b, sep='\n')

4:01:40
2:00:50
Output:
6:02:30
2:00:50
2.0

### Example 06

In [171]:
from datetime import datetime, timedelta
 
current_datetime = datetime.now()
 
# future dates
one_year_future_date = current_datetime + timedelta(days=365)
 
print('Current Date:', current_datetime)
print('One year from now Date:', one_year_future_date)
 
# past dates
three_days_before_date = current_datetime - timedelta(days=3)
print('Three days before Date:', three_days_before_date)

Current Date: 2022-01-19 21:33:17.204798
One year from now Date: 2023-01-19 21:33:17.204798
Three days before Date: 2022-01-16 21:33:17.204798

### Example 07

In [172]:
from datetime import datetime, timedelta
 
current_datetime = datetime.now()
 
dt = current_datetime.date()
print('Current Date:', dt)
dt_tomorrow = dt + timedelta(days=1)
print('Tomorrow Date:', dt_tomorrow)

Current Date: 2022-01-19
Tomorrow Date: 2022-01-20

### Example 08

In [173]:
from datetime import timedelta
 
print('Seconds in an year:', timedelta(days=365).total_seconds())

Seconds in an year: 31536000.0

### Tiledelta example 09

In [182]:
from datetime import datetime, timedelta

current_datetime = datetime.now()

# future dates
one_year_future_date = current_datetime + timedelta(days=365)

print('Current Date:', current_datetime)
print('One year from now Date:', one_year_future_date)

# past dates
three_days_before_date = current_datetime - timedelta(days=3)
print('Three days before Date:', three_days_before_date)

Current Date: 2022-01-19 21:37:26.604931
One year from now Date: 2023-01-19 21:37:26.604931
Three days before Date: 2022-01-16 21:37:26.604931

In [183]:
dt = current_datetime.date()
print('Current Date:', dt)
dt_tomorrow = dt + timedelta(days=1)
print('Tomorrow Date:', dt_tomorrow)

Current Date: 2022-01-19
Tomorrow Date: 2022-01-20

In [191]:
tm = current_datetime.time()
print('Current Time:', tm)
tm_after_30_mins = tm + timedelta(minutes=30)

Current Time: 21:37:26.604931

TypeError: unsupported operand type(s) for +: 'datetime.time' and 'datetime.timedelta'

In [192]:
#This error is expected

### Example 10

In [197]:
# Timedelta function demonstration 
  
from datetime import datetime, timedelta
  
  
# Using current time
ini_time_for_now = datetime.now()
  
# printing initial_date
print ("initial_date", str(ini_time_for_now))
  
# Calculating future dates
# for two years
future_date_after_2yrs = ini_time_for_now + \
                        timedelta(days = 730)
  
future_date_after_2days = ini_time_for_now + \
                         timedelta(days = 2)
  
# printing calculated future_dates
print('future_date_after_2yrs:', str(future_date_after_2yrs))
print('future_date_after_2days:', str(future_date_after_2days))

initial_date 2022-01-19 21:45:35.479162
future_date_after_2yrs: 2024-01-19 21:45:35.479162
future_date_after_2days: 2022-01-21 21:45:35.479162

In [198]:
# Timedelta function demonstration 
from datetime import datetime, timedelta
  
  
# Using current time
ini_time_for_now = datetime.now()
  
# printing initial_date
print ("initial_date", str(ini_time_for_now))
  
# Calculating past dates
# for two years
past_date_before_2yrs = ini_time_for_now - \
                       timedelta(days = 730)
  
# for two hours
past_date_before_2hours = ini_time_for_now - \
                        timedelta(hours = 2)
  
  
# printing calculated past_dates
print('past_date_before_2yrs:', str(past_date_before_2yrs))
print('past_date_after_2days:', str(past_date_before_2hours))

initial_date 2022-01-19 21:46:05.046749
past_date_before_2yrs: 2020-01-20 21:46:05.046749
past_date_after_2days: 2022-01-19 19:46:05.046749

In [199]:

# Timedelta function demonstration 
from datetime import datetime, timedelta
  
# Using current time
ini_time_for_now = datetime.now()
  
# printing initial_date
print ("initial_date", str(ini_time_for_now))
  
# Some another datetime
new_final_time = ini_time_for_now + \
                 timedelta(days = 2)
  
# printing new final_date
print ("new_final_time", str(new_final_time))
  
  
# printing calculated past_dates
print('Time difference:', str(new_final_time - \
                             ini_time_for_now))

initial_date 2022-01-19 21:46:14.564778
new_final_time 2022-01-21 21:46:14.564778
Time difference: 2 days, 0:00:00

# 3. Time zones

## Define timezone Using datetime.utcnow()

In [88]:
#Create new time object (hour, min, sec, minisec)
t = datetime.time(9,30,45, 100000)
print(t.hour)

9

In [89]:
#define a new time datetime object (Y,m,d, H, M, S, miniSec)
dt = datetime.datetime(2022, 1, 19, 12, 30, 45, 100000)
print(dt)

2022-01-19 12:30:45.100000

In [90]:
#get the date
print(dt.date())

2022-01-19

In [91]:
#get the time
print(dt.time())

12:30:45.100000

In [92]:
#de fine timedelta by days
tdelta = datetime.timedelta (days = 7)
#print out the datetime of next 7 days
print(dt + tdelta)

2022-01-26 12:30:45.100000

In [94]:
#define timedelta by hours
tdelta = datetime.timedelta (hours = 12)
#print out datetime of next 12 hours
print(dt + tdelta)

2022-01-20 00:30:45.100000

In [95]:
#define today datetime object
dt_today = datetime.datetime.today()
#define now datetime object
dt_now = datetime.datetime.now()
#define datetime object in UTC
dt_utcnow = datetime.datetime.utcnow()

In [96]:
print(dt_today)
print(dt_now)
print(dt_utcnow)

2022-01-19 20:00:45.831850
2022-01-19 20:00:45.831850
2022-01-19 12:00:45.831850

## Define timezone Using PYTZ

### Pytz example 01

In [97]:
import pytz

In [51]:
#Define a UTC date time object
dt = datetime.datetime(2022,7,27,12,30,45,tzinfo=pytz.UTC)
print(dt)

2022-07-27 12:30:45+00:00

In [98]:
# Get current UTC time using now function with timezone
dt_now = datetime.datetime.now(tz = pytz.UTC)
print(dt_now)

2022-01-19 12:03:36.637908+00:00

In [101]:
#Get current UTC time using utcnow and replace tzinfo
dt_utcnow = datetime.datetime.utcnow().replace(tzinfo=pytz.UTC)
dt_utcnow

datetime.datetime(2022, 1, 19, 12, 5, 34, 682273, tzinfo=<UTC>)

In [102]:
#Get current local time of a particular location
dt_mtn = dt_utcnow.astimezone(pytz.timezone('US/Mountain'))
print(dt_mtn)

2022-01-19 05:05:34.682273-07:00

In [103]:
#Get current local time of a particular location
dt_mtn = dt_utcnow.astimezone(pytz.timezone('Australia/Perth'))
print(dt_mtn)

2022-01-19 20:05:34.682273+08:00

In [104]:
#list of all time zones in the world
print((pytz.all_timezones_set))

LazySet({'Africa/Niamey', 'Canada/Saskatchewan', 'Etc/GMT-14', 'Asia/Phnom_Penh', 'ROC', 'Asia/Qostanay', 'Etc/GMT+9', 'Asia/Amman', 'Asia/Kolkata', 'US/Alaska', 'America/Boa_Vista', 'EST5EDT', 'Mexico/General', 'America/Nassau', 'Antarctica/Casey', 'Africa/Bujumbura', 'Etc/GMT+4', 'Pacific/Honolulu', 'America/Paramaribo', 'US/Eastern', 'Asia/Irkutsk', 'Africa/Djibouti', 'America/Dawson_Creek', 'America/Thunder_Bay', 'GB', 'Asia/Hong_Kong', 'America/Iqaluit', 'America/Indiana/Indianapolis', 'Africa/Malabo', 'Africa/Lagos', 'Europe/Astrakhan', 'US/Arizona', 'Asia/Aqtobe', 'Asia/Tehran', 'Europe/Jersey', 'Australia/Queensland', 'Iceland', 'America/Scoresbysund', 'Africa/Windhoek', 'Africa/Addis_Ababa', 'Asia/Yangon', 'Australia/West', 'Asia/Beirut', 'Asia/Omsk', 'Australia/ACT', 'Asia/Kamchatka', 'Pacific/Tarawa', 'Asia/Taipei', 'Africa/Freetown', 'America/Montevideo', 'Africa/Ouagadougou', 'Portugal', 'UTC', 'America/Nome', 'Asia/Kuala_Lumpur', 'ROK', 'America/Rio_Branco', 'Asia/Saigon', 'Pacific/Rarotonga', 'America/Mendoza', 'America/Puerto_Rico', 'Etc/GMT+10', 'Europe/Belgrade', 'Pacific/Apia', 'Pacific/Kosrae', 'Arctic/Longyearbyen', 'America/St_Thomas', 'Asia/Qyzylorda', 'Asia/Magadan', 'Asia/Bahrain', 'Asia/Hovd', 'America/Menominee', 'Asia/Baku', 'Africa/Sao_Tome', 'America/Argentina/Tucuman', 'America/Inuvik', 'America/Indiana/Vevay', 'Canada/Pacific', 'Etc/UTC', 'Europe/San_Marino', 'GB-Eire', 'Pacific/Easter', 'Asia/Sakhalin', 'America/Santa_Isabel', 'Asia/Novosibirsk', 'Africa/Dar_es_Salaam', 'America/Argentina/Salta', 'America/Glace_Bay', 'Asia/Riyadh', 'Asia/Katmandu', 'Pacific/Majuro', 'Europe/Nicosia', 'Europe/Guernsey', 'Turkey', 'Asia/Tashkent', 'Pacific/Niue', 'Asia/Tel_Aviv', 'America/Halifax', 'US/Mountain', 'Australia/Sydney', 'Europe/Saratov', 'America/Coral_Harbour', 'Pacific/Enderbury', 'Pacific/Norfolk', 'America/Guatemala', 'Etc/GMT-10', 'Etc/GMT', 'America/Cayenne', 'Pacific/Tahiti', 'Asia/Karachi', 'Asia/Makassar', 'Etc/GMT+1', 'Australia/Lindeman', 'Africa/Porto-Novo', 'America/Argentina/San_Juan', 'US/Aleutian', 'Etc/GMT+11', 'Pacific/Chatham', 'America/Chihuahua', 'Indian/Chagos', 'America/Eirunepe', 'America/New_York', 'America/Cayman', 'Asia/Chongqing', 'Europe/Chisinau', 'Europe/Berlin', 'America/Mazatlan', 'Europe/Ulyanovsk', 'Europe/Gibraltar', 'Etc/GMT-11', 'Atlantic/South_Georgia', 'Indian/Mahe', 'Etc/GMT-9', 'Etc/GMT+0', 'America/Winnipeg', 'Pacific/Fiji', 'America/St_Kitts', 'Europe/Vienna', 'America/Noronha', 'America/Toronto', 'America/Yakutat', 'Africa/Algiers', 'Europe/Tirane', 'Asia/Samarkand', 'Africa/Timbuktu', 'Europe/Simferopol', 'Pacific/Ponape', 'Antarctica/Mawson', 'America/Cambridge_Bay', 'America/Mexico_City', 'Europe/Bratislava', 'America/Argentina/ComodRivadavia', 'Etc/GMT-4', 'America/Regina', 'Australia/Lord_Howe', 'Atlantic/St_Helena', 'Indian/Kerguelen', 'Asia/Damascus', 'Europe/Oslo', 'Africa/Dakar', 'Etc/GMT-12', 'Asia/Ashgabat', 'America/Nipigon', 'Europe/Malta', 'America/St_Johns', 'America/Argentina/San_Luis', 'Asia/Calcutta', 'America/Thule', 'Asia/Almaty', 'America/Port-au-Prince', 'Atlantic/Bermuda', 'Africa/Lusaka', 'America/Managua', 'Europe/Uzhgorod', 'Pacific/Palau', 'America/Whitehorse', 'Asia/Bangkok', 'Canada/Eastern', 'America/North_Dakota/New_Salem', 'America/Godthab', 'America/Argentina/Ushuaia', 'Asia/Atyrau', 'Pacific/Kwajalein', 'Europe/Lisbon', 'Atlantic/Madeira', 'Europe/Bucharest', 'Africa/Lome', 'Asia/Kashgar', 'America/Indiana/Winamac', 'America/Panama', 'Canada/Atlantic', 'Europe/Vatican', 'Libya', 'Pacific/Nauru', 'America/Indiana/Tell_City', 'Pacific/Tongatapu', 'Pacific/Gambier', 'Singapore', 'America/Santarem', 'Africa/Maseru', 'America/Louisville', 'America/El_Salvador', 'America/Hermosillo', 'Antarctica/DumontDUrville', 'MST7MDT', 'America/Indiana/Petersburg', 'America/Fort_Wayne', 'America/Goose_Bay', 'Europe/Riga', 'GMT0', 'Europe/Isle_of_Man', 'Asia/Macao', 'America/Matamoros', 'Asia/Kuching', 'America/Atka', 'NZ-CHAT', 'Europe/Zagreb', 'Africa/Luanda', 'Asia/Istanbul', 'Atlantic/Jan_Mayen', 'Egypt', 'America/Cancun', 'Africa/Cairo', 'Africa/Bamako', 'America/Creston', 'Asia/Chita', 'Europe/Vilnius', 'America/Los_Angeles', 'Cuba', 'Africa/Asmera', 'Antarctica/South_Pole', 'Asia/Macau', 'Africa/Brazzaville', 'WET', 'America/Buenos_Aires', 'America/Yellowknife', 'Brazil/DeNoronha', 'Etc/GMT-5', 'America/Cuiaba', 'Africa/Kinshasa', 'Chile/EasterIsland', 'Pacific/Marquesas', 'Japan', 'Europe/Samara', 'Asia/Barnaul', 'Europe/Monaco', 'America/St_Barthelemy', 'America/Montreal', 'Asia/Novokuznetsk', 'America/Ensenada', 'Africa/Juba', 'America/Edmonton', 'Africa/Blantyre', 'US/Indiana-Starke', 'Iran', 'Asia/Ulan_Bator', 'Australia/South', 'Hongkong', 'America/Vancouver', 'Africa/Mogadishu', 'Pacific/Pitcairn', 'Indian/Mauritius', 'Australia/Brisbane', 'America/Havana', 'America/Rankin_Inlet', 'Pacific/Samoa', 'Pacific/Wallis', 'Asia/Vladivostok', 'Indian/Antananarivo', 'Africa/Gaborone', 'America/Kentucky/Louisville', 'Africa/Bangui', 'Asia/Tomsk', 'Canada/Central', 'Europe/Prague', 'Africa/Ndjamena', 'Australia/Adelaide', 'America/Costa_Rica', 'Etc/GMT-13', 'America/Adak', 'Europe/Zurich', 'Antarctica/Macquarie', 'Africa/Conakry', 'Asia/Dushanbe', 'Asia/Krasnoyarsk', 'Europe/Budapest', 'Antarctica/Palmer', 'Etc/GMT+12', 'Asia/Urumqi', 'Etc/GMT0', 'Europe/Kirov', 'Europe/Volgograd', 'America/Metlakatla', 'America/Indianapolis', 'Australia/Perth', 'Etc/GMT-6', 'US/East-Indiana', 'America/Miquelon', 'Asia/Jayapura', 'Europe/Ljubljana', 'Australia/LHI', 'Asia/Bishkek', 'Asia/Brunei', 'America/Marigot', 'Africa/Asmara', 'Asia/Qatar', 'America/Recife', 'America/Jujuy', 'Europe/Tallinn', 'Europe/Warsaw', 'Asia/Nicosia', 'Etc/Universal', 'Indian/Reunion', 'Pacific/Galapagos', 'Etc/GMT+6', 'America/Porto_Velho', 'Pacific/Pohnpei', 'America/Argentina/Buenos_Aires', 'America/Rainy_River', 'Europe/Rome', 'Greenwich', 'GMT-0', 'Europe/Minsk', 'PST8PDT', 'Brazil/West', 'PRC', 'Africa/Douala', 'Australia/NSW', 'Indian/Mayotte', 'America/Pangnirtung', 'Etc/GMT-7', 'Mexico/BajaSur', 'Atlantic/Faroe', 'Pacific/Guam', 'America/Argentina/Rio_Gallegos', 'America/Indiana/Marengo', 'America/Caracas', 'Asia/Rangoon', 'CET', 'America/Fort_Nelson', 'Africa/Bissau', 'Asia/Manila', 'Europe/Brussels', 'America/Chicago', 'America/Argentina/Catamarca', 'America/Grand_Turk', 'America/Argentina/Jujuy', 'America/Jamaica', 'US/Samoa', 'America/Juneau', 'America/Kralendijk', 'Africa/Tunis', 'NZ', 'America/Asuncion', 'Asia/Muscat', 'EET', 'America/Moncton', 'Pacific/Noumea', 'CST6CDT', 'Asia/Pontianak', 'Asia/Ust-Nera', 'Pacific/Port_Moresby', 'Antarctica/McMurdo', 'Australia/Eucla', 'Pacific/Wake', 'America/Swift_Current', 'Etc/GMT-1', 'America/Boise', 'Europe/Sarajevo', 'Jamaica', 'America/Grenada', 'Asia/Oral', 'US/Hawaii', 'Africa/Abidjan', 'Europe/Athens', 'America/Martinique', 'Etc/UCT', 'Etc/GMT+5', 'Asia/Thimphu', 'Australia/Currie', 'Australia/Yancowinna', 'Kwajalein', 'Canada/Yukon', 'America/Sitka', 'Europe/Skopje', 'Asia/Dili', 'W-SU', 'America/Belize', 'Asia/Gaza', 'Asia/Aqtau', 'Asia/Shanghai', 'Europe/Belfast', 'Etc/GMT-0', 'America/Denver', 'Pacific/Truk', 'America/Tortola', 'Indian/Maldives', 'EST', 'Canada/Newfoundland', 'Asia/Ashkhabad', 'Europe/Helsinki', 'Asia/Vientiane', 'America/Indiana/Knox', 'Atlantic/Reykjavik', 'Europe/Vaduz', 'Australia/Tasmania', 'HST', 'Pacific/Saipan', 'America/Barbados', 'America/Guayaquil', 'Africa/Harare', 'Asia/Yakutsk', 'Africa/Kampala', 'America/Cordoba', 'America/Rosario', 'America/Belem', 'Asia/Tokyo', 'Africa/Nouakchott', 'Africa/Lubumbashi', 'Asia/Jerusalem', 'America/Nuuk', 'America/Indiana/Vincennes', 'UCT', 'America/Argentina/La_Rioja', 'America/St_Vincent', 'Antarctica/Davis', 'Poland', 'America/Argentina/Cordoba', 'Europe/Tiraspol', 'America/Porto_Acre', 'US/Central', 'Asia/Chungking', 'America/Guyana', 'Etc/Zulu', 'Europe/Andorra', 'America/Kentucky/Monticello', 'America/Anchorage', 'Australia/Canberra', 'Africa/Accra', 'Africa/Banjul', 'Pacific/Auckland', 'America/Bahia_Banderas', 'America/Manaus', 'Israel', 'Etc/GMT-3', 'America/Argentina/Mendoza', 'Europe/Paris', 'Asia/Srednekolymsk', 'America/St_Lucia', 'Etc/GMT+3', 'Europe/Busingen', 'America/Detroit', 'America/Ojinaga', 'Asia/Choibalsan', 'Pacific/Johnston', 'America/Punta_Arenas', 'America/North_Dakota/Beulah', 'America/Antigua', 'Asia/Kathmandu', 'Europe/Stockholm', 'Africa/Casablanca', 'Etc/GMT-2', 'America/Sao_Paulo', 'Brazil/Acre', 'Europe/Madrid', 'America/Santo_Domingo', 'Pacific/Kiritimati', 'Europe/Istanbul', 'America/Knox_IN', 'Asia/Baghdad', 'Brazil/East', 'Pacific/Fakaofo', 'America/Monterrey', 'America/Tegucigalpa', 'Etc/GMT+7', 'US/Pacific', 'Asia/Thimbu', 'Africa/El_Aaiun', 'US/Michigan', 'Europe/Copenhagen', 'America/Bogota', 'America/Araguaina', 'Asia/Jakarta', 'Pacific/Efate', 'Zulu', 'GMT', 'Indian/Christmas', 'Europe/Moscow', 'Pacific/Guadalcanal', 'America/Anguilla', 'Pacific/Bougainville', 'Europe/Dublin', 'Asia/Hebron', 'Africa/Nairobi', 'Canada/Mountain', 'Africa/Maputo', 'America/Dawson', 'Asia/Anadyr', 'Australia/Victoria', 'Asia/Dacca', 'Atlantic/Stanley', 'Pacific/Chuuk', 'Asia/Khandyga', 'Africa/Monrovia', 'Atlantic/Canary', 'Australia/Melbourne', 'Australia/Broken_Hill', 'Atlantic/Faeroe', 'Atlantic/Cape_Verde', 'Etc/GMT+8', 'Europe/Luxembourg', 'Pacific/Funafuti', 'America/Fortaleza', 'Navajo', 'Europe/Sofia', 'Asia/Ujung_Pandang', 'America/Lima', 'Australia/North', 'America/Santiago', 'Asia/Dhaka', 'Asia/Singapore', 'Indian/Cocos', 'Africa/Kigali', 'GMT+0', 'Asia/Yerevan', 'America/Virgin', 'MST', 'Asia/Ulaanbaatar', 'Africa/Khartoum', 'Pacific/Midway', 'Pacific/Yap', 'Asia/Aden', 'America/La_Paz', 'America/Lower_Princes', 'Etc/Greenwich', 'America/Danmarkshavn', 'Chile/Continental', 'Asia/Harbin', 'America/Merida', 'MET', 'America/Montserrat', 'Eire', 'Africa/Mbabane', 'America/Bahia', 'Europe/Amsterdam', 'America/Resolute', 'Asia/Kuwait', 'Asia/Kabul', 'Europe/Kiev', 'Mexico/BajaNorte', 'Europe/Zaporozhye', 'Australia/Darwin', 'Asia/Tbilisi', 'Antarctica/Troll', 'Antarctica/Syowa', 'America/Port_of_Spain', 'America/Curacao', 'Asia/Colombo', 'Asia/Yekaterinburg', 'Europe/London', 'Asia/Dubai', 'Africa/Ceuta', 'Europe/Podgorica', 'Etc/GMT+2', 'Africa/Libreville', 'America/Campo_Grande', 'America/Guadeloupe', 'America/Blanc-Sablon', 'Universal', 'America/Phoenix', 'America/Catamarca', 'Africa/Tripoli', 'Atlantic/Azores', 'America/Tijuana', 'Indian/Comoro', 'America/Dominica', 'Europe/Kaliningrad', 'Europe/Mariehamn', 'Asia/Seoul', 'Pacific/Pago_Pago', 'Africa/Johannesburg', 'Asia/Pyongyang', 'America/Maceio', 'America/North_Dakota/Center', 'Australia/Hobart', 'Antarctica/Vostok', 'Etc/GMT-8', 'America/Shiprock', 'Asia/Famagusta', 'America/Atikokan', 'America/Aruba', 'Antarctica/Rothera', 'Asia/Ho_Chi_Minh'})

### pytz example 02

In [174]:
from datetime import datetime
from pytz import timezone, common_timezones
 
datetime_object = datetime.now(timezone('Asia/Kolkata'))
print("Current IST:", datetime_object)

Current IST: 2022-01-19 19:04:53.207056+05:30

In [175]:
from datetime import datetime
from pytz import timezone, common_timezones
import random
 
for _ in range(4):
    zone = random.choice(common_timezones)
    print(f"Using TimeZone: {zone}")
    datetime_object = datetime.now(timezone(zone))
    print(datetime_object)

Using TimeZone: Australia/Darwin
2022-01-19 23:05:17.368539+09:30
Using TimeZone: Europe/Tallinn
2022-01-19 15:35:17.369536+02:00
Using TimeZone: America/Phoenix
2022-01-19 06:35:17.369536-07:00
Using TimeZone: Atlantic/Reykjavik
2022-01-19 13:35:17.370546+00:00

## Convert from naive datetime to timezone aware

In [105]:
#new local datetime that is not timezone aware
dt_mtn = datetime.datetime.now()
print(dt_mtn)

2022-01-19 20:07:36.649189

In [107]:
#Method 1: #Convert that time into timezone aware local time using astimezone method
dt_AWST = dt_mtn.astimezone(pytz.timezone('Australia/Perth'))
print(dt_AWST)

2022-01-19 20:07:36.649189+08:00

In [108]:
#Method 2: #Convert that time into timezone aware local time using localize method
mtn_tz = pytz.timezone('Australia/Perth')
print(mtn_tz)
#use time zone to convert naive datetime to timezone aware datetime
dt_AWST2 = mtn_tz.localize(dt_mtn)
print(dt_AWST2)

Australia/Perth
2022-01-19 20:07:36.649189+08:00

# 4. Real examples

# 4.1. Convert Local tide to UTC Tide

### import libraries

In [201]:
#import libraries
import os
import sys
from datetime import datetime
from datetime import timedelta

### Date time format options

In [219]:
#Date time format options
dt_format1 = "%Y-%m-%d %H:%M:%S"
dt_format2 = "%Y-%m-%d %H:%M:%S %Z%z"
dt_format2a = "%Y-%m-%d %H:%M:%S"
dt_format2b = "%Y-%m-%d %H:%M:%S.%f"
dt_format3 = "%d/%m/%Y%H:%M"
dt_format4 = "%d/%m/%Y %H:%M"
dt_format5 = "%Y-%m-%d %H:%M:%S.000"
dt_format6 = "%Y-%m-%d %H:%M:%S.%f"
dt_format6_DoTWA = "%d/%m/%Y,%H:%M:%S"
dt_format6_DoTWA3 = "%Y-%m-%d,%H:%M:%S"
dt_format6_DoTWA4 = '%Y-%m-%dT%H:%M:%S+08:00'

### Input and output data

In [220]:
inFile_p = r"D:\DoTWA_Data\FR201410_NoSBET_Q2\fr_1014\Tide\TideData\T141001.FRE"
oFile_p = inFile_p.split('.')[0] + '_UTC.tid'
inFile_p,oFile_p

('D:\\DoTWA_Data\\FR201410_NoSBET_Q2\\fr_1014\\Tide\\TideData\\T141001.FRE',
 'D:\\DoTWA_Data\\FR201410_NoSBET_Q2\\fr_1014\\Tide\\TideData\\T141001_UTC.tid')

### Read local time tide data

In [223]:
oFile_w = open(oFile_p,'w')
skip = 0
with open(inFile_p,'r') as infile:
    msg = '--------\n'
    oFile_w.write(msg)
    for counter,line in enumerate(infile):
        if counter < skip: continue
        if counter < 10:
            line = line.strip('\n')
            line_list = line.split(',')
            line_list2 = []
            for l in line_list: line_list2.append(l.strip(' '))
            tide_str = float(line_list2[2])
            tide_str = f'{tide_str:.3f}'
            dt_str = line_list2[0] + ',' + line_list2[1]
            dt_obj_local = datetime.strptime(dt_str, dt_format6_DoTWA)
            dt_txt_local = dt_obj_local.strftime(dt_format2b)
            print (counter,'Local:',dt_txt_local,'Tide:',tide_str)

0 Local: 2014-10-01 00:00:00.000000 Tide: 0.922
1 Local: 2014-10-01 00:05:00.000000 Tide: 0.926
2 Local: 2014-10-01 00:10:00.000000 Tide: 0.930
3 Local: 2014-10-01 00:15:00.000000 Tide: 0.928
4 Local: 2014-10-01 00:20:00.000000 Tide: 0.928
5 Local: 2014-10-01 00:25:00.000000 Tide: 0.925
6 Local: 2014-10-01 00:35:00.000000 Tide: 0.922
7 Local: 2014-10-01 00:40:00.000000 Tide: 0.922
8 Local: 2014-10-01 00:45:00.000000 Tide: 0.919
9 Local: 2014-10-01 00:50:00.000000 Tide: 0.914

### Convert to UTC using timedelta = 8 hours

In [224]:
oFile_w = open(oFile_p,'w')
skip = 0
with open(inFile_p,'r') as infile:
    msg = '--------\n'
    oFile_w.write(msg)
    for counter,line in enumerate(infile):
        if counter < skip: continue
        if counter < 5:
            line = line.strip('\n')
            line_list = line.split(',')
            line_list2 = []
            for l in line_list: line_list2.append(l.strip(' '))
            tide_str = float(line_list2[2])
            tide_str = f'{tide_str:.3f}'
            dt_str = line_list2[0] + ',' + line_list2[1]
            dt_obj_local = datetime.strptime(dt_str, dt_format6_DoTWA)
            dt_txt_local = dt_obj_local.strftime(dt_format2)
            print (counter,'Local:',dt_txt_local,'Tide:',tide_str)

            # Convert to UTC (+00)
            local_zone = 8
            offset_h = -local_zone
            offset_h_dt_oj = timedelta(hours = offset_h)
            dt_obj_UTC = dt_obj_local + offset_h_dt_oj
            dt_txt_UTC = dt_obj_UTC.strftime(dt_format2)
            print ('UTC:',dt_txt_UTC,'Tide:',tide_str)
            print('\tOffset: ',(offset_h_dt_oj.seconds)/3600+(offset_h_dt_oj.days)*24,'from local:',local_zone)

0 Local: 2014-10-01 00:00:00  Tide: 0.922
UTC: 2014-09-30 16:00:00  Tide: 0.922
	Offset:  -8.0 from local: 8
1 Local: 2014-10-01 00:05:00  Tide: 0.926
UTC: 2014-09-30 16:05:00  Tide: 0.926
	Offset:  -8.0 from local: 8
2 Local: 2014-10-01 00:10:00  Tide: 0.930
UTC: 2014-09-30 16:10:00  Tide: 0.930
	Offset:  -8.0 from local: 8
3 Local: 2014-10-01 00:15:00  Tide: 0.928
UTC: 2014-09-30 16:15:00  Tide: 0.928
	Offset:  -8.0 from local: 8
4 Local: 2014-10-01 00:20:00  Tide: 0.928
UTC: 2014-09-30 16:20:00  Tide: 0.928
	Offset:  -8.0 from local: 8

# References
1. https://www.youtube.com/watch?v=eirjjyP2qcQ
2. https://www.codeleaks.io/python-datetime-timedelta-function/
3. https://www.askpython.com/python-modules/python-timedeltahttps://www.askpython.com/python-modules/python-timedelta
4. https://www.journaldev.com/23334/python-timedeltahttps://www.journaldev.com/23334/python-timedelta